        <header class="site-header center center--site">
            <div class="site-header__inner cluster">
                <a class="site-header__title" href="/">Kixx</a>
                <div class="site-header__controls cluster">
                    <button class="button theme-toggle" type="button" data-js-behavior="theme-toggle" aria-label="Switch color theme">
                        <span class="theme-toggle__label">dark</span>
                    </button>
                </div>
            </div>
        </header>
