<header class="page-header card-gallery grid-auto">
    <div class="callout callout--info">
        <span class="callout__icon" aria-hidden="true">[i]</span>
        <div class="callout__body">
            <p class="type-label">CSS Zen Garden</p>
            <p class="type-body-sm">This page is an interpretation of the <a href="https://csszengarden.com/">CSS Zen Garden</a> which is being used as a placeholder for your new Kixx website while you are getting started on your project.</p>
        </div>
    </div>
    <div class="callout callout--info">
        <span class="callout__icon" aria-hidden="true">[i]</span>
        <div class="callout__body">
            <p class="type-label">Light / Dark Color Schemes</p>
            <p class="type-body-sm">The default theme contains both a light and dark color scheme which defaults to your system settings but also allows you to manually switch color schemes:</p>
            <p>
                <button class="theme-toggle" type="button" data-js-behavior="theme-toggle" aria-label="Switch color theme">
                    <span class="theme-toggle__label">dark</span>
                </button>
            </p>
        </div>
    </div>
</header>

<div class="page-wrapper">
{{unescape includes.body }}
</div>
