<!doctype html>
<html lang="en-US">
    <head>
        {{>common-site-meta.html}}

        {{!--
            The Build ID namespaces this asset URL, so it can use an immutable
            cache policy without changing the asset named by this page. --}}
        <link href="/assets/{{ build_id }}/stylesheets/admin.css" rel="stylesheet">

        {{#if includes.page_stylesheet }}
        <style>{{{ includes.page_stylesheet }}}</style>
        {{/if}}
    </head>
    <body>
        {{>admin-site-header.html}}

        {{!--
            "body" will exist if a page template was found and rendered. Otherwise, we
            expect page content to be defined in the page "includes.body" file
        --}}
        {{#if body }}
        <main class="admin-main center">{{{ body }}}</main>
        {{ else }}{{#if includes.body }}
        <main class="admin-main center">{{{ includes.body }}}</main>
        {{ else }}
        <main class="admin-main center">No content.</main>
        {{/if}}{{/if}}

        {{!--
            The Build ID namespaces this asset URL, so it can use an immutable
            cache policy without changing the asset named by this page. --}}
        <script type="module" src="/assets/{{ build_id }}/javascript/site.js"></script>
    </body>
</html>
