<!doctype html>
<html lang="en-US">
    <head>
        {{>common-site-meta.html}}
        {{>common-seo-meta.html}}
        <link href="/stylesheets/stylesheet.css" rel="stylesheet">

        {{#if includes.page_stylesheet }}
        <style>{{{ includes.page_stylesheet }}}</style>
        {{/if}}
    </head>
    <body>
        {{#if body }}
            {{{ body }}}
        {{ else }}{{#if includes.body }}
            {{{ includes.body }}}
        {{ else }}
            <p>No content.</p>
        {{/if}}{{/if}}

        <script type="module" src="/javascript/site.js"></script>
    </body>
</html>
