<!doctype html>
<html lang="en-US">
    <head>
        {{>common-site-meta.html}}
        {{>common-seo-meta.html}}

        {{!--
            The Build ID namespaces this asset URL, so it can use an immutable
            cache policy without changing the asset named by this page. --}}
        <link href="/assets/{{ build_id }}/stylesheets/stylesheet.css" rel="stylesheet">

        {{#if includes.page_stylesheet }}
        <style>{{{ includes.page_stylesheet }}}</style>
        {{/if}}
    </head>
    <body>
        {{!--
            "body" will exist if a page template was found and rendered. Otherwise, we
            expect page content to be defined in the page "includes.body" file
        --}}
        {{#if body }}
            {{{ body }}}
        {{ else }}{{#if includes.body }}
            {{{ includes.body }}}
        {{ else }}
            <p>No content.</p>
        {{/if}}{{/if}}

        {{!--
            The Build ID namespaces this asset URL, so it can use an immutable
            cache policy without changing the asset named by this page. --}}
        <script type="module" src="/assets/{{ build_id }}/javascript/site.js"></script>
    </body>
</html>
