<meta charset="utf-8">

<title>{{ page.title }}</title>

{{#if page.description }}
    <meta name="description" content="{{ page.description }}">
{{/if}}

<meta name="viewport" content="width=device-width, initial-scale=1">

{{#if page.openGraph.type }}
    <meta property="og:type" content="{{ page.openGraph.type }}">
{{/if}}
{{#if page.openGraph.title }}
    <meta property="og:title" content="{{ page.openGraph.title }}">
{{/if}}
{{#if page.openGraph.url }}
    <meta property="og:url" content="{{ page.openGraph.url }}">
{{/if}}
{{#if page.openGraph.image }}
    <meta property="og:image" content="{{ page.openGraph.image.url }}">
    <meta property="og:image:url" content="{{ page.openGraph.image.url }}">
{{/if}}

{{#if page.canonicalURL }}
    <link rel="canonical" href="{{ page.canonicalURL }}" />
{{/if}}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=calendar_month,call,home,keyboard_arrow_down,keyboard_arrow_up,menu,pin_drop,rule" />

{{#each page.stylesheets as |stylesheet| }}
<link rel="stylesheet" href="{{ stylesheet.url }}">
{{/each}}

<style type="text/css">
{{> styles.css }}
</style>
