 html {
    --site-width: 960px;
    --layout-right-left-margin: 4vw;

    /* Sets the rm size for the rest of the styles */
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    /* Force the page to full height so we can stick the footer to
    the bottom of the viewport */
    min-height: 100vh;

    font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
p {
    text-wrap: pretty;
}


/*
Set up a full height grid to stick the footer to the bottom of the
viewport. This creates a top row for the header, a middle row for
main content, and a bottom row for the footer
 */
#site-layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*
Add the site-width-container class to any block element to allow it to reach
full bleed with a right/left margin on mobile, and constrained to the
--site-width on larger screens.
 */
.site-width-container {
    margin-right: var(--layout-right-left-margin);
    margin-left: var(--layout-right-left-margin);
}
@media screen and (min-width: 960px) {
    .site-width-container {
        width: calc(var(--site-width) - var(--layout-right-left-margin) * 2);
        margin-left: auto;
        margin-right: auto;
    }
}
