<!doctype html>
<html lang="en-US">
    <head>
        {{>common-site-meta.html}}

        <link href="{{ assetUrl assets "/stylesheets/admin.css" }}" rel="stylesheet">

        {{#if includes.page_stylesheet }}
        <style>{{{ includes.page_stylesheet }}}</style>
        {{/if}}
    </head>
    <body>
        {{>admin-site-header.html}}

        {{!--
            "body" will exist if a page template was found and rendered. Otherwise, we
            expect page content to be defined in the page "includes.body" file
        --}}
        {{#if body }}
        <main class="admin-main center">{{{ body }}}</main>
        {{ else }}{{#if includes.body }}
        <main class="admin-main center">{{{ includes.body }}}</main>
        {{ else }}
        <main class="admin-main center">No content.</main>
        {{/if}}{{/if}}

        <script type="module" src="{{ assetUrl assets "/javascript/site.js" }}"></script>
    </body>
</html>
